body {
    background-color: blanchedalmond;
}

nav{
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand{
    background-color: blanchedalmond;
}

.navbar-brand:hover{
    transform: scale(1.1);
}

.nav-link{
    background-color: blanchedalmond;
}

.nav-link:hover{
    transform: scale(1.1);
}

#PizzaSteve {
    width: 10%;
    float: right;
}

#PizzaSteve:hover {
    content: url('pizzaback.png');
}

#kinai{
    width: 200px;
    float: right;
}

#pizzazo1{
    background-color: burlywood;
    width: 75%;
    text-align: center;
    border-radius: 5%;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.5);
}

#pizza{
    display: grid;
    grid-template-columns: repeat(4,2fr);
}

.zoom1 {
    transition: transform .2s;
    margin: 0 auto;
    background-color: navajowhite;
    margin: 1%;
    margin-left: 20%;
}

.zoom1:hover{
    transform: scale(1.1);
}

.btn {
    margin: 2.5%;
}